Django>=4.2,<5.0
oracledb>=2.0.0
python-dotenv>=1.0.0
requests>=2.28.0
pillow>=9.0.0
qrcode>=7.0
python-docx>=0.8.11
docxtpl>=0.16.0
django-q2>=1.6.0
django-picklefield>=3.2.0
waitress>=2.1.0
pytz
python-barcode
num2words
xhtml2pdf
